---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Videos">
  <header class="flex flex-col justify-center items-center p-4 gap-4">
    <NavBar/>
    <h1 class="text-5xl font-semibold">VIDEOS</h1>
  </header>
  <section class="flex flex-row flex-wrap gap-4 justify-center items-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dxbVdyVYGcQ?si=zHmJQXnOAeCcQG5r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5uQx7eK39v8?si=PVbtUGXQfPi1ZNak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mYb9jnCvdgo?si=TfEisghLk-i-y6kQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/E8ZZNkmt39c?si=EmEaQelzMMBIrLX-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OGvZxlj2pWM?si=D1jF148BQcAcm9lu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UVAvFG0cCRw?si=c6oYX4gkPEZ0LAwf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1oS60YC6JEI?si=kplYjT_s6zoX_7Uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U3WTHKRueYA?si=DWLLDxvbVsGpzfCx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/J9qlPIzVIWQ?si=R_NcuFyxna-o3_Nm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PFbJky4XeaE?si=qTYJx_KXzxFQvSt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </section>
</Layout>